<div class="player">
    <h1>Player</h1>
    <div class="health-bar-container">
        <app-player-health-bar></app-player-health-bar>
    </div>
    <div class="player-model-idle" #playerModel></div>
</div>
<div class="buttonContainer">
    <button (click)="attack()" [disabled]="deathService.checkIfDead">Attack</button>
    <button (click)="counter()"
            [disabled]="deathService.checkIfDead">Counter</button>
    <button (click)="heal()" [disabled]="deathService.checkIfDead">Heal</button>
</div>