button {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 32px;

    &:hover {
        cursor: pointer;
        background-color: darkred;
    }
    &:disabled{
        filter: blur(2px);
        background-color: gray;
    }
}