$neonGreen : rgb(125, 209, 0);
$lightNeonGreen : rgb(204, 255, 126);

.mainGrid {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    height: 98vh;

    .area1 {
        grid-area: 1 / 1 / 7 / 2;
        margin-top: 5%;
    }

    .area2 {
        grid-area: 1 / 2 / 7 / 6;
        background-image: url(../../res/background/combat\ Background.gif);
        background-repeat: none;
        background-size: cover;
        background-position: 50% 70%;
        margin-right: 20px;
    }

    .area3 {
        grid-area: 7 / 2 / 8 / 6;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.combat {
    border: solid 2px $neonGreen;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 50px;
    padding: 20px;
}

.playerButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}