<<<<<<< HEAD
.combatLogContainer{
    background-color: green;
}
||||||| 1408ec7
=======
.combat {
    display: flex;
    justify-content: center;
    gap: 50px;
}
>>>>>>> e04f79b90ba0ac7fe096b42bac0baeea198fb16a
