.pnj-model {
    position: absolute;
    top: 40%;
    left: 50%;
    background: transparent url(../../../../public/res/pnj-model/Goblin/Idle.png) 0 0 no-repeat;
    width: 150px;
    height: 150px;
}