.pnj-model-idle {
    background-image: url(../../../../public/res/pnj-model/Goblin/Idle_goblin.gif);
    transform: scaleX(-1);
    background-position: center;
    width: 400px;
    height: 420px;
}

.health-bar-container {
    max-width: 500px;
}

.pnj {
    max-width: 600px;
}