$neonGreen : rgb(125, 209, 0);
$lightNeonGreen : rgb(204, 255, 126);
.combatLogContainer{
    background-color: black;
    border-right: solid 2px $lightNeonGreen;
    border-top: solid 2px $lightNeonGreen;
    border-bottom: solid 2px $lightNeonGreen;
    box-shadow: 0px 0px 18px 7px $neonGreen;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 90%;
    width: 90%;
    h3{
        color: $neonGreen;
        text-align: center;
    }

}
.logsContainer{

    li{
        font-size: 18px;
        color: $neonGreen;
        text-shadow: 0px 0px 18px 7px rgba(173, 255, 47);
        border-bottom: solid 1px $neonGreen;
        padding-top: 5px;
    }
}